.git
.github
_build
deps
doc
tmp
var
standalone/_build
standalone/deps
standalone/test
test
dashboard/_build
dashboard/deps
dashboard/doc
dashboard/tmp
dashboard/*.tar
dashboard/standalone/_build
dashboard/standalone/deps
dashboard/standalone/test
clients/*
!clients/python/**
examples/*
!examples/standalone/**
!examples/dashboard/**
*.tar
erl_crash.dump
