/_build/
/deps/
/standalone/_build/
/standalone/deps/
/cover/
/doc/
/tmp/
/var/tay/
/erl_crash.dump
.DS_Store
*.ez
*.tar
clients/python/build/
clients/python/dist/
clients/python/*.egg-info/
clients/python/**/__pycache__/
