defmodule TayQualification.MixProject do
  use Mix.Project

  def project do
    [
      app: :tay_qualification,
      version: "0.0.0-qualification",
      elixir: "~> 1.20",
      start_permanent: true,
      deps: [
        {:tay, path: "vendor/tay", env: :prod},
        {:telemetry, "~> 1.3", path: "vendor/telemetry", env: :prod, override: true},
        {:bandit, "~> 1.12", path: "vendor/bandit", env: :prod, override: true},
        {:hpax, path: "vendor/hpax", env: :prod, override: true},
        {:plug, path: "vendor/plug", env: :prod, override: true},
        {:plug_crypto, path: "vendor/plug_crypto", env: :prod, override: true},
        {:mime, path: "vendor/mime", env: :prod, override: true},
        {:thousand_island, path: "vendor/thousand_island", env: :prod, override: true},
        {:websock, path: "vendor/websock", env: :prod, override: true},
        {:jason, path: "vendor/jason", env: :prod, override: true},
        {:phoenix, path: "vendor/phoenix", env: :prod, override: true},
        {:phoenix_html, path: "vendor/phoenix_html", env: :prod, override: true},
        {:phoenix_live_view, path: "vendor/phoenix_live_view", env: :prod, override: true},
        {:phoenix_pubsub, path: "vendor/phoenix_pubsub", env: :prod, override: true},
        {:phoenix_template, path: "vendor/phoenix_template", env: :prod, override: true},
        {:websock_adapter, path: "vendor/websock_adapter", env: :prod, override: true}
      ],
      releases: [tay_qualification: [include_executables_for: [:unix]]]
    ]
  end

  def application, do: [extra_applications: [:logger, :crypto, :tay]]
end
